* {
  font-family: Helvetica, sans-serif;
}

nav img {
	padding-left: 35px;
	height: 42px;
	margin: 10px;
}

nav p {
	color: white;
	font-size: 18px;
	font-weight: bold;
	margin-top: 18px;
	margin-right: 30px;
}

.small {
	color: white;
	font-size: 18px;
	font-weight: normal;
}
