/* Common Styles */

html,
body {
  height: 100%;
  background-image: url('../images/stars_background.jpg');
  background-color: #000;
  font-family: 'Source Code Pro', sans-serif;
  color: #fff;
}

h1 {
  text-align: center;
}

textarea {
  background-color: black;
}

/* Nav */

nav img {
	margin: 20px 0px 10px 40px;
}

#display_name {
	float: right;
	color: white;
	font-size: 18px;
	margin-top: 20px;
	margin-right: 20px;
}

ul .dropdown-menu {
	color: white;
	background-color: black;
}

.dropdown {
	color: rgb(26, 26, 26);
	float: right;
	margin-top: 15px;
	margin-right: 90px;
	padding-bottom: 18px;
}

.dropdown-menu {
  background-color: black;
}

.dropdown .btn {
	background-color: rgb(26, 26, 26);
	border-color: rgb(26, 26, 26);
}

.glyphicon {
	color: white;
}

nav p {
	color: white;
	font-size: 18px;
	font-weight: bold;
	margin-top: 18px;
	margin-right: 40px;
}

.small {
	color: white;
	font-size: 18px;
	font-weight: normal;
}

/* Custom Buttons */

.btn-main {
	color: #FFFFFF;
  font-size: 1.5em;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #BD411B;
	*background-color: #BD411B;
	background-image: -moz-linear-gradient(top, #FFAE00, #BD411B);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFAE00), to(#BD411B));
	background-image: -webkit-linear-gradient(top, #FFAE00, #BD411B);
	background-image: -o-linear-gradient(top, #FFAE00, #BD411B);
	background-image: linear-gradient(to bottom, #FFAE00, #BD411B);
	background-repeat: repeat-x;
	border-color: #BD411B;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.disabled,
.btn-custom[disabled] {
	color: #FFFFFF;
	background-color: #BD411B;
}

.btn-custom {
  align-self: flex-start;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #BD411B;
	*background-color: #BD411B;
	background-image: -moz-linear-gradient(top, #FFAE00, #BD411B);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFAE00), to(#BD411B));
	background-image: -webkit-linear-gradient(top, #FFAE00, #BD411B);
	background-image: -o-linear-gradient(top, #FFAE00, #BD411B);
	background-image: linear-gradient(to bottom, #FFAE00, #BD411B);
	background-repeat: repeat-x;
	border-color: #BD411B;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.disabled,
.btn-custom[disabled] {
	color: #FFFFFF;
	background-color: #BD411B;
}

/* Splash Page */

h2 {
  margin-bottom: 30px;
}

.splash-logo {
  width: 300px;
  margin-top: 150px;
}

/* Main Container */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* For Sticky Footer */

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

footer {
  height: 60px;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

footer ul{
  list-style: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

footer li {
  margin: 10px;
}

.inner-container-row {
  width: 80%;
  height: 70vh;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(45, 45, 45, 0.8);
}

.inner-container-column {
  width: 80%;
  height: 70vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(45, 45, 45, 0.8);
}


/* List Members Styles */

.inner-container-row figure {
  margin: 10px;
}

/* Service Record Styles */

.member {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
}
.btn-delete-member, .btn-update-member {
  align-self: flex-end;
  margin: 10px;
}

/* Profile Form */
.profile-form {
  display: flex;
  flex-direction: row;
}

.profile-container {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 20px;
}


/* List planits Styles */

.planits-table {
  color: #000;
  background-color: #e4e4e4;
}

/*planIt Details Styles */



