<h1>Mission Control</h1>
<h2>My planits</h2>
<div class="my-planit">
	{{#each planit}}
</div>
<h2>My Proposals</h2>
<div class="my_proposals">
	{{#each myProposals}}
</div>
<h2>Proposals for Me</h2>
<div class="others_proposals">
	{{#each othersProposals}}
</div>
<button type="button">Create a planit</button>