<h1>Upcoming planits</h1>
<div class="main-container">
  <div class="planits-list">
    <ul>
      {{#each planits}}
        <li onclick="viewPlanit({{id}});">{{title}}</li>
      {{/each}}
    </ul>
  </div>
</div>
