<ul class="footer-nav">
  <li class="pull-left footer-hover" onclick="pageLoaded();">Home</li>
  <li class="pull-left footer-hover" onclick="listPlanits();">Browse Events</li>
  {{#if user}}
    <li class="pull-left footer-hover" onclick="listPlanits({{user.id}});">List My Events</li>
  {{/if}}
</ul>
