<ul class="footer-nav">
  <li class="pull-left" onclick="pageLoaded();">Home</li>
  <li class="pull-left" onclick="listPlanits();">Browse planits</li>
  {{#if user}}
    <li class="pull-left" onclick="listPlanits({{user.id}});">List My planits</li>
  {{/if}}
</ul>
