<nav class="navbar navbar-inverse navbar-static-top">
    <img src="../images/brand_logo_v1.png">
    {{#if user}}
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
		</button>
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Mission Control</a></li>
            <li><a href="#">Service Record</a></li>
            <li><a href="#">Browse PlanIts</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
    <span id="display_name">{{user.display_name}}</span>
    {{else}}
    <p class="pull-right" name="login_button" onclick="login();">Login <span class='small'>or </span>Register</p>
    {{/if}}
</nav>