<div class="bg-container">
  <img class="splash-logo" src="../images/planit_logo_v01.png" alt="planit logo" />
  <h2>Universal Event Planning</h2>
  <button class="btn btn-warning" type="button" name="button" onclick="listPlanits()">Browse planits</button>
</div>
