<div class="bg-container">
  <button class="btn-warning" type="button" name="button" onclick="listPlanits();">Browse planits</button>
  <button class="btn-warning" type="button" name="button" onclick="listMembers();">List Members</button>
</div>
