<div class="main-container">
  <img class="splash-logo" src="../images/planit_logo_v2.png" alt="planit logo" />
  <h2>Universal Event Planning</h2>
  <button class="btn btn-main" type="button" name="button" onclick="listPlanits()">Browse Events</button>
  <article class="features">
    <article class="features-article">
      <h1>Share Events</h1>
      <img src="../images/event.png" alt="feature" />
      <p>
        Share your events with the universe.
      </p>
    </article>
    <article class="features-article">
      <h1>Manage Tasks</h1>
      <img src="../images/tasks.png" alt="feature" />
      <p>
        Add tasks and review proposals.
      </p>
    </article>
    <article class="features-article">
      <h1>Help Out</h1>
      <img src="../images/help.png" alt="feature" />
      <p>
        Earn extra cash or volunteer for good.
      </p>
    </article>
  </article>
</div>
