<h1>Add a Task</h1>
<div class="main-container">
  <div class="inner-container-column">
    <form action='/tasks/' method="post" >
      <label for="task-title">Title
        <input type="text" name="task-title">
      </label>
      <label for="task-type">Task Type
        <input type="selector" name="task-type">
        <ul class="dropdown-menu">
          {{#each skills}}
          <li class="disabled">{{name}}</li>
          {{/each}}
        </ul>
      </label>
      <label for="task-budget">Budget
        <input type="text" name="task-budget">
      </label>
      <label for="task-date">Date Needed
        <input type="text" name="task-date">
      </label>
      <label for="task-number-needed"># of People Needed
        <input type="text" name="task-number-needed">
      </label>
      <button type="submit">Submit</button>
      </form>
    </div>
</div>
