<div class="main-container">
  <div class="modal">
    <h1>Add a Task</h1>
    <form class="form" action='/tasks' method="post" >
      <label for="task-title">Title
        <input type="text" name="task-title">
      </label>
      <label for="task-type">Task Type</label>
        <select name="task-type">
          {{#each skills}}
            <option value="placeholder">{{name}}</option>
          {{/each}}
        </select>
      <label for="task-budget">Budget
        <input type="text" name="task-budget">
      </label>
      <label for="task-date">Date Needed
        <input type="text" name="task-date">
      </label>
      <label for="task-number-needed"># of People Needed
        <input type="text" name="task-number-needed">
      </label>
      <button type="submit">Submit</button>
      </form>
    </div>
</div>
